@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=PT+Sans+Narrow&display=swap');

:root {
    --nav-height: 60px;
    --top-value: -90px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #000000;
}

a {
    text-decoration: none;
}

nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    height: var(--nav-height);
    padding: 0 35px;
    z-index: 1;
}

#menu-button {
    display: grid;
    width: 40px;
    height: 100%;
    padding: 13px 0;
    float: right;
    align-items: space-between;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 30px;
}

#main-video {
    display: block;
    margin: 0 auto;
    width: 100px;1
    z-index: -1;
    position: relative;
    height: auto;
    transform: scale(10) translateY(20px);
}

#video-container {
    width: 100%;
    overflow-x: hidden;
    z-index: -1;
    position: absolute;
    top: 0;
    height: 545px;
    opacity: 50%;
}

#video-background {
    background-color: #000000;
    width: 100%;
    height: 545px;
    position: absolute;
    z-index: -2;
}

#main-section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 448px;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 50px 0 0 0;
}

#about-section {
    margin: 550px 0 0 0;
}

#about-section > div {
    max-width: 806.4px;
}

section:not(#main-section) {
    padding: 0 30px;
    background-color: #000000;
}

p {
    margin: 20px 0;
    font-size: 20px;
}

h1, h2 {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0 auto;
    color: #FFFFFF;
    width: 200px;
    text-align: center;
    font-size: 25px;
}

#logo {
    width: 60%;
    max-width: 400px;
    border-radius: 50%;
}

h2 {
    margin: 0 auto;
    text-align: center;
}

#dj-icon, #dj-icon-two {
    display: block;
    margin: 40px auto;
    filter: invert(100%);
    width: 230px;
}

#dj-icon-two {
    display: none;
}

#decks-img {
    display: block;
    width: 100%;
}

.event {
    display: block;
    margin: 30px auto;
    width: 200px;
    filter: invert(100%);
}

.event-container {
    margin: 90px 0 0 0;
}

.event-container:last-of-type h2 {
    width: 230px;
}

#cater-for-section {
    margin-bottom: 50px;
}

#decks-img-two {
    width: 100%;
    display: block;
    clip-path: inset(20% 0 20% 0);
}

.price-package {
    width: 300px;
    margin: 20px auto;
    height: 450px;
    background-color: #FFFFFF;
    padding: 0 60px;
    position: relative;
    border-radius: 40px;
}

.price-package * {
    color: #000000;
    margin: 0 auto;
    text-align: center;
}

.price-package li {
    font-size: 18px;
    margin: 20px 0;
}

.price-package h2 {
    padding: 30px 0;
}

#bronze {
    border: 4px solid #b87318;
}

#silver {
    border: 4px solid #c0c0c0;
}

#gold {
    border: 4px solid #ffd700;
}

#bronze h2 {
    color: #b87318;
}

#silver h2 {
    color: #c0c0c0;
}

#gold h2 {
    color: #ffd700;
}

ul {
    list-style-type: square;
}

.price {
    font-weight: bold;
    font-size: 32px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 20px;
}

#contact-section {
    margin: 80px auto;
}

#contact-section h2 {
    margin: 0 auto 40px auto;
}

form {
    max-width: 550px;
    margin: 0 auto;
}

form > * {
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #000000;
}

input {
    height: 30px;
}

textarea {
    height: 300px;
}

input, textarea {
    border-radius: 35px;
    padding: 10px;
    font-size: 14px;
}

button {
    width: 80px;
    margin: 25px auto 0 auto;
    padding: 5px 0;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
}

button:hover {
    background-color: #ffd700;
    transform: scale(1.1);
    cursor: pointer;
}

#message-icon {
    filter: invert(100%);
    width: 200px;
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

footer {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 0 300px 0 0;
    padding: 15px 30px 0 30px;
}

footer h2 {
    width: 80px;
    text-align: left;
    margin: 0;

}

footer * {
    color: #000000;
}

#social-media-icons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 50px;
    margin: 30px auto 0 auto;
    padding: 0 0 20px 0;
}

#social-media-icons > img {
    width: 40px;
}

@keyframes scan {
    0% {
        clip-path: inset(10% 0 70% 0);
    }

    33% {
        clip-path: inset(70% 0 10% 0);
    }

    66% {
        clip-path: inset(10% 0 70% 0);
    }

    100% {
        clip-path: inset(20% 0 20% 0);
    }
}

@media only screen and (min-width: 941px) {
    #dj-icon {
        display: none;
    }

    #dj-icon-two {
        display: block;
        width: clamp(280px, 60%, 400px);
    }

    #about-section {
        display: grid;
        grid-template-columns: 6fr 4fr;
        align-items: center;
    }

    #decks-img {
        width: 450px;
        margin: 50px auto;
        border-radius: 35px;
        transform: rotate(-4deg);
    }

    #we-do-wpn {
        display: flex;
        justify-content: center;
        gap: 15%;
    }

    #we-do-everything {
        margin: 170px auto 0 auto;
    }

    #we-do-everything .event {
        width: 300px;
    }

    #we-do-everything h2 {
        font-size: 30px;
        width: 300px;
    }

    #pricing-section {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    #contact-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: space-evenly;
    }

    #contact-section h2 {
        font-size: 36px;
    }

    #message-icon {
        display: block;
    }

    form {
        margin: 0;
    }
}

@media only screen and (min-width: 1000px) {
    #main-video {
        width: 100%;
        transform: none;
    }

    #video-background {
        height: 61.3vw;
    }

    #video-container {
        position: relative;
        height: 61.3vw;
    }

    #main-section {
        height: 45vw;
        gap: 50px;
    }

    #about-section {
        margin: 0 0 0 0;
    }

    section:not(#main-section) {
        padding: 0 50px;
    }

    h1 {
        font-size: 2.7vw;
        width: 30%;
    }

    #logo {
        width: 35%;
    }
}
